<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static "css/home.css" %}" />
  <title>Sounds</title>
</head>

<body class="bg">
  <div class="spacer">
    <div class="my-auto text-center text-light">
      <h1 class="title display-1">Sounds</h1>
      <h4>demo</h4>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron sticky-top text-center">
      <button class="btn btn-lg btn-outline-light m-2">
        <a class="text-light links" href="/admin">Go to Admin Panel</a>
      </button>
      <div class="dropdown">
        <button class="btn btn-outline-light btn-lg dropdown-toggle m-2" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View Soundboards
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/sounds">South Park</a>
          <a class="dropdown-item" href="/breaking">Breaking Bad</a>
          <a class="dropdown-item" href="/got">Game Of Thrones</a>
          {% comment %} <a class="dropdown-item" href="#">Something else here</a> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>