[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"
dj-database-url = "*"
django-heroku = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
